.dart_tool/
.packages
.pub-cache/
.pub/
build/

**/flutter/ephemeral/
**/linux/flutter/
**/windows/flutter/

ios/.generated/
ios/Flutter/App.framework
android/local.properties
android/gen/

.env
*.log

.vscode/
.idea/
*.iml

backend/node_modules/
backend/data/*.db-shm
backend/data/*.db-wal
backend/data/*.db-journal